.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px 20px;
  height: max-content;
  background-color: var(--bg-main);
  border-radius: var(--border-radius-12);
  width: max-content;
  transition: var(--transistion);
}

.card:nth-child(2n) {
  margin-top: 4rem;
}

p {
  font-size: var(--font--size-10);
  color: var(--para-secondary);
}

h2 {
  font-size: var(--font--size-30);
  font-weight: 400;
  text-decoration: underline;
}

h3 {
  font-size: var(--font--size-15);
  font-weight: 400;
}

.card:hover {
  scale: 1.05;
  box-shadow: var(--dropdown-shadow);
}

.card img {
  border-radius: var(--border-radius-12);
}

.work__links {
  display: flex;
  gap: 20px;
}

.btn-medium {
  padding: 10px 20px;
  border-radius: var(--border-radius-12);
  width: max-content;
  background-color: aqua;
  border: transparent;
  transition: var(--transistion);
}

.btn-medium:hover {
  border: 1px solid black;
}

.btn-bg {
  background-color: transparent;
}

/* MEDIA QUERY FOR MOBILE DEVICES (MAX 768px) */

@media only screen and (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100vw -30px);
  }

  .card:nth-child(2n) {
    margin-top: 0rem;
  }
}
