.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  gap: 50px;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px 20px;
  height: max-content;
  background-color: var(--bg-main);
  border-radius: var(--border-radius-12);
  transition: var(--transistion);
}
.card:nth-child(2n) {
  margin-top: 4rem;
}

p {
  font-size: var(--font--size-10);
  color: var(--para-secondary);
}

h2 {
  font-size: var(--font--size-30);
  font-weight: 400;
  text-decoration: underline;
}

h3 {
  font-size: var(--font--size-15);
  font-weight: 400;
}

.card:hover {
  scale: 1.05;
  box-shadow: var(--dropdown-shadow);
}

.card img {
  width: max-content;
  border-radius: var(--border-radius-12);
}

.work__links {
  display: flex;
  gap: 20px;
}

.btn-medium {
  padding: 10px 20px;
  border-radius: var(--border-radius-12);
  width: max-content;
  background-color: var(--bg-main-300);
  border: transparent;
  transition: var(--transistion);
}

.btn-medium:hover {
  border: 1px solid var(--text-main);
}

.noDemo {
  cursor: not-allowed;
}

.btn-bg {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    gap: 5px;
  }

  .card:nth-child(2n) {
    margin-top: 1rem;
  }

  .card img {
    width: 100%;
  }

  .card:hover {
    scale: 1;
  }
}
