/* WORK HEADER  */

.work__right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.work__right p:nth-child(2) {
  font-size: var(--font--size-20);
  color: var(--text-muted);
}

.work__right p {
  font-size: var(--font--size-15);
  color: var(--text-muted);
  line-height: 1.8125rem;
}

/* PROJECTS  */

.projects__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.work__project-right {
  display: grid;
  gap: 80px;
  overflow: hidden;
}

.btn-work {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.btn-work a::after {
  content: "↓";
  position: absolute;
  margin-left: 5px;
  transition: var(--transistion);
}

.btn-work a:hover::after {
  transform: translateY(7px);
}

/* MEDIA QUERY FOR MOBILE DEVICES (MAX 768px) */

@media only screen and (max-width: 768px) {
  .work__project-right {
    gap: 1.5rem;
    width: 90vw;
  }

  .projects__container {
    margin-top: 5rem;
  }
}

/* PROCESS  */

.process__right {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.process__right-left {
  font-size: var(--font--size-37);
}

.process__right-right p {
  font-size: var(--font--size-15);
  margin-bottom: 20px;
}

.padded-right-16 {
  padding-right: 16px;
}

/* MEDIA QUERY FOR MOBILE DEVICES (MAX 768px) */

@media only screen and (max-width: 768px) {
  .process__right {
    display: grid;
    grid-template-columns: 1fr;
  }
  .process__right-left {
    margin-bottom: 3rem;
    font-size: var(--font--size-37);
  }
}

/* ABOUT PAGE  */

.aboutPage__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 4rem 0;
}

.aboutPage::after {
  content: "→";
  position: absolute;
  margin-left: 5px;
  transition: var(--transistion);
}

.aboutPage:hover::after {
  transform: translateX(7px);
}
