.full__width__footer {
  background-color: var(--bg-footer);
  height: 80px;
  padding: 20px 0;
}

.container__footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.social {
  display: flex;
  gap: 20px;
}

.footer__icon {
  background-color: transparent;
  font-size: var(--font--size-20);
  color: #fff;
}
