.full__width__footer {
  display: flex;
  align-items: center;
  background-color: var(--bg-footer);
  height: 80px;
  width: 100vw;
  padding: 20px 0;
}

.container__footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  background-color: transparent;
  font-size: var(--font--size-20);
  color: var(--color-accent--300);
  height: 200px;
}
