.nav__mobile {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100vw;
  padding: 2rem 1rem;
  display: flex;
  margin-inline: auto;
  background-color: var(--bg-main);
  z-index: 999;
}

.navMobile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navMobile__logo {
  font-size: var(--font--size-20);
}

.navMobile__Menubtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font--size-15);
}

.navMobile__menu-btn {
  display: flex;
  align-items: center;
  font-size: var(--font--size-30);
}

.navMobile__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-main);
  font-size: var(--font--size-20);
}

.close {
  display: none;
}

.navMobile__links ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navMobile__list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font--size-15);
}

.navMobile__list ul li:nth-last-child(1) {
  text-decoration: underline;
}

.navMobileWork__notification {
  position: relative;
}

.navMobile__links .navMobileWork__notification span {
  position: absolute;
  top: -5px;
  left: 3rem;
  font-size: 0.8125rem;
}

.navMobile__links li a.active {
  text-decoration: underline;
}

.navMobile__links li a:hover {
  text-decoration: underline;
}

.navMobileList__item a {
  text-decoration: underline;
}

.navMobileContact-list {
  font-size: var(--font--size-20);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.navMobileToggle-mode {
  display: none;
}
